.input:focus {
    outline: none;
    height: 30px;
    border: 1px solid #81b4e6;
    border-radius: 3px;
}

.input {
    font-size: 16px;
    margin: 10px 10px 28px 10px;
    height: 30px;
    border: 1px solid #81b4e6;
    border-radius: 3px;
    display: inline-block;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
}

.superInput {
    padding: 0;
    margin: 0;
    width: 330px;
}

.errorInput {
    height: 30px;
    border: 1px solid red;
    border-radius: 3px;
}

.errorInput:focus {
    height: 30px;
    border: 1px solid #81b4e6;
    border-radius: 3px;
}

.error {
    color: red;
    font-size: 9pt;
    position: relative;
    /* для сдвига элемента вверх на 10px */
    /*top: -100px; !* или bottom: 10px; *!*/
    left: -165px;
    top: -18px;


}
