.input:focus {
    height: 30px;
    border: 1px solid #81b4e6;
    border-radius: 3px;
}

.input {
    height: 30px;
    border: 1px solid #81b4e6;
    border-radius: 3px;
    display: inline-block;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
}

.superInput {


}

.errorInput {
    height: 30px;
    border: 1px solid red;
    border-radius: 3px;
}

.errorInput:focus {
    height: 30px;
    border: 1px solid #81b4e6;
    border-radius: 3px;
}

.error {
    color: red;
    font-size: 9pt;
    position: relative;
    /* для сдвига элемента вверх на 10px */
    /*top: -100px; !* или bottom: 10px; *!*/
  left: -165px;
    top: -18px;


}
