.burgerMenuIcon {
    padding: 20px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
}

.header h1 {
    position: relative;
    top: -50px;
    left: 87%;
    font-family: 'Montserrat', sans-serif;
}